<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.labfinaly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.labfinaly">
        <activity android:name=".Destask"></activity>
        <activity android:name=".Listem" />
        <activity android:name=".Taskem" />
        <activity android:name=".Itemlist" />
        <activity android:name=".Itemtask"
            tools:ignore="Instantiatable" />
        <activity android:name=".Res" />
        <activity android:name=".Singup" />
        <activity android:name=".Login" />
        <activity android:name=".Datalist" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>